         <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a class = "navBarLink" href="/assignmentPage">Assignments</a>
            <a class = "navBarLink" href="/Contact">Contact</a>
            <a class = "navBarLink" href="/About">About</a>
            <a class = "navBarLink" href= "/imagepage"> Image Page </a>
            <a class = "navBarLink" href= "/create-account"> Create Account</a>
            <a class = "login" href="/login"> Login </a>
          </div>