<!DOCTYPE html>

<html>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <head>
        <script src= "src/app.js"></script>
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="assignmentPage.html">Assignments</a>
            <a href="Contact.html">Contact</a>
            <a href="About.html">About</a>
            <a href= "imagepage.html"> Image Page </a>
          </div>
        <header>
            <h1>Assignment Two</h1>
        </header>
        <div class="footer">
            <p>Mikayla Kzinowek 2022</p>
          </div>
    </body>
</html>