<!DOCTYPE html>
<html lang="en" id="htmllogin">

<head>
{{>head}}
<title>Login</title>
</head>
<body>
  <title>Login</title>
    {{>navbar}}
  </div>
<form action="action_page.php">
    <div class="container">
      <h1>Register</h1>
      <p>Fill in the form to create an account!.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

      <label for='username'><b>Username</b></label>
      <input type="username" placeholder= "username" required>
  
      <button type="submit" class="registerbtn">Register</button>
    </div>
    {{>footer}}
  </form>
</body>