<!DOCTYPE html>
<html lang="en" id="htmllogin">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="site.css">
  <script defer src="login.js"></script>
  <script src= "src/app.js"></script>
</head>
<body>
  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="assignmentPage.html">Assignments</a>
    <a href="Contact.html">Contact</a>
    <a href="About.html">About</a>
    <a href= "imagepage.html"> Image Page </a>
  </div>
<form action="action_page.php">
    <div class="container">
      <h1>Register</h1>
      <p>Fill in the form to create an account!.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

      <label for='username'><b>Username</b></label>
      <input type="username" placeholder= "username" required>
  
      <button type="submit" class="registerbtn">Register</button>
    </div>
    <div class="footer">
      <p>Mikayla Kzinowek 2022</p>
    </div>
  </form>
</body>