
<!DOCTYPE html>

<html>
    <head>
        {{>head}}
        <title>
            Inserting an image
        </title>
        <style> .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
          }
          </style>      
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="assignmentPage.html">Assignments</a>
            <a href="Contact.html">Contact</a>
            <a href="About.html">About</a>
            <a href= "imagepage.html"> Image Page </a>
          </div>
        <img src = "https://i.imgur.com/Mt0S90Q.gif" alt="This Gif Should Work" width = "250" />
        <div class="footer">
            <p>Mikayla Kzinowek 2022</p>
          </div>
    </body>
</html>