{{!
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script>
  <script defer src="js/main.js"></script>
  {{>head}}
  {{!<style>
    #htmlbody {
      background-image: url("../public/images/ShenandoahWanderersLog.jpg");
    }

    .menuDropdownUl {
      text-align: center;
    }

    ul li {
      display: inline-block;
      margin-right: 15px;
      transition: all 0.3s ease-in-out;
    }

    ul li:hover a {
      color: rgb(20, 141, 105);
    }

    ul li:hover a::before {
      visibility: visible;
      transform: scale(1, 1);
    }

    ul li a {
      color: #999;
      display: block;
      padding: 0 7px 0 7px;
      margin: 0 0 10px;
      text-decoration: none;
      position: relative;
    }

    ul li a::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: -10px;
      left: 0px;
      background-color: #058020;
      transition: all 0.2s ease-in-out;
      transform: scale(0, 0);
      visibility: hidden;
    }
  </style>
</head>

<body>
  {{>modify_account_modal}}
  {{!
  {{>modify_task}}
  {{!
  <nav>
    <ul class="menuDropdownUl">
      <li><a href="#">Trips </a></li>
      <li><a href="#">Contact </a></li>
      <li><a href="#">About</a></li>
    </ul>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="flase">
        My Account
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li id="viewAccount" class="dropdown-item"> View Account </li>
        <li id="deleteAccount" class="dropdown-item"> Delete Account </li>
        <li><a href="#">try </a></li>
        <li id="logoutAccount" class="dropdown-item"> Logout </li>
      </div>
      <ul class="menuDropdownUl">
        <li id="viewAccount" class="dropdown-item"> View Account </li>
        <li id="deleteAccount" class="dropdown-item"> Delete Account </li>
        <li id="logoutAccount" class="dropdown-item"> Logout </li>
        <li id="viewTasks" class="dropdown-item"> View Tasks </li>
        <li>
          <div class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modifyAccountModal">Modify Account
          </div>
          <div class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modifyTaskModal">Modify Task
          </div>
        </li>
      </ul>
  </nav>
  <div id="contentArea">
    <p id="email"></p>
    <p id="password"></p>
  </div>
  <div id="taskArea">
    <p id="title"></p>
    <p id="id"></p>
    <p id="completed"></p>
    <p id="description"> </p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script>
</body>

}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  </script>
  <style>
    .dropdown {
      position: static !important;
    }

    .dropdown-menu {
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
      margin-top: 0px !important;
      width: 100% !important;
    }
  </style>
</head>

<body>
  <div class="fluid-container">
    <center>
      <h1 style="color:green;padding:13px;">
        Wanderer's Log
      </h1>
      <b id="headerCatch">Logging your journey, every step of the way </b>
      <br>
      <br>
      <nav class="navbar navbar-expand-lg navbar-dark
						justify-content-between text-white" style="background-color: green;">
        <p class="navbar-brand" href="#" style="margin-top: 15px;">
          Your journey starts here!
        </p>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown01"
          aria-controls="navbarNavDropdown01" aria-expanded="false" aria-label="Toggle navigation"
          style="outline-color:#fff">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown01">

          <ul class="navbar-nav ">
            <a style="margin-left: 20px;margin-top: 7px;font-size: 18px;" href="#">Trips </a>
            <a style="margin-left: 20px;margin-top: 7px;font-size: 18px;" href="#">Contact </a>
            <a style="margin-left: 20px;margin-top: 7px;margin-right: 10px;font-size: 18px;  " href="#">About</a>

            <!--dropdown item of menu-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                My Account
              </a>

              <!--dropdown sub items of menu-->
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a role="button" tabindex="0" id="viewAccount" class="dropdown-item">
                  View Account
                </a>
                <a role="button" tabindex="0" id="logoutAccount" class="dropdown-item">
                  Logout
                </a>
                <div class="dropdown-divider"></div>
                <a role="button" tabindex="0" id="deleteAccount" class="dropdown-item"> 
                  Delete Account 
                  </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a role="button" tabindex="0" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Tasks
              </a>

              <!--dropdown sub items of menu-->
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="max-width: 1366px;">
                <a id="viewTasks" class="dropdown-item" href="/templates/tasksPage.hbs">
                    View Tasks
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </center>
  </div>

  <div id="contentArea">
    <p id="email"></p>
    <p id="password"></p>
  </div>

</body>

</html>