<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<head>
    {{>head}}
</head>

<body>
    <nav>
        <ul class = "menuDropdownUl">
            <li><a href="#">Home</a></li>
            <li><a href="#">Trips </a></li>
            <li><a href="#">Contact </a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">My Account</a></li>
            <ul class="submenu"></ul>
                <li> <a href="the link to the sccount display page here"> View Account </a> </li>
                <li> <a href="the link to the delete account [age here"> Delete Account </a> </li>
                <li> <a href="the link to the main page after logout"> Logout </a> </li>
        </ul>
    </nav>
    <p "this is the body of the page after you login or create account"></p>
</body>