<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script>
  <script type="text/javascript" defer src="js/main.js"></script>
  <script>
    var x;
    x = document.getElementById("taskNextButton")
    function getNext(){
      
    }
  </script>
  <style>
    .dropdown {
      position: static !important;
    }

    .dropdown-menu {
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
      margin-top: 0px !important;
      width: 100% !important;
    }
  </style>
</head>

<body>
  {{>modify_account_modal}}
  {{>modify_task}}
  {{>add_task}}
  <div class="fluid-container">
    <center>
      <h1 style="color:green;padding:13px;">
        Wanderer's Log
      </h1>
      <b id="headerCatch">Logging your journey, every step of the way </b>
      <br>
      <br>
      <nav class="navbar navbar-expand-lg navbar-dark
						justify-content-between text-white" style="background-color: #255D07;">
        <p class="navbar-brand" href="#" style="margin-top: 15px;">
          Your journey starts here!
        </p>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown01"
          aria-controls="navbarNavDropdown01" aria-expanded="false" aria-label="Toggle navigation"
          style="outline-color:#fff">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown01">

          <ul class="navbar-nav ">
            <a style="margin-left: 20px;margin-top: 7px;font-size: 18px;color: white;" href="#">Trips </a>
            <a style="margin-left: 20px;margin-top: 7px;font-size: 18px;color: white;" href="#">Contact </a>
            <a style="margin-left: 20px;margin-top: 7px;margin-right: 10px;font-size: 18px;color: white;"
              href="#">About</a>

            <!--dropdown item of menu-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="color: white;">
                My Account
              </a>

              <!--dropdown sub items of menu-->
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a role="button" tabindex="0" id="viewAccount" class="dropdown-item">View Account </a>
                <!--Modify Task modal-->
                <div class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modifyAccountModal">Modify Account
                </div>
                <!--Logout-->
                <a role="button" tabindex="0" id="logoutAccount" class="dropdown-item"> Logout </a>
                <div class="dropdown-divider"></div>
                <a role="button" tabindex="0" id="deleteAccount" class="dropdown-item">Delete Account </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a role="button" tabindex="0" class="nav-link dropdown-toggle" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                Tasks
              </a>

              <!--dropdown sub items of menu-->
              <div class="dropdown-menu" aria-labelledby="navbarDropdown"  id="viewTasks" style="max-width: 1366px;">
                <a class="dropdown-item" href="/tasksPage">
                  View Tasks
                </a>
                <!--Modify Task modal-->
                <div class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modifyTaskModal">Modify Task
                </div>
                <!--Adding Tasks-->
           <!--     <a id="addTasks" class="dropdown-item" href="/templates/tasksPage.hbs">
                  Add Tasks
                </a> -->
                <div class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addTaskModal">Add Task
                </div>
                <div class="dropdown-divider"></div>
                <a role="button" tabindex="0" id="deleteTask" class="dropdown-item">Delete Task </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div id="contentArea">
        <p id="email"></p>
        <p id="password"></p>
        <img id="avatar"></img>
      </div>
        <div id="taskArea" style="outline:5px green;">
        <p id="title"></p>
        <p id="completed"></p>
        <p id="description"></p>
      </div>
      </div>
    </center>
  </div>
</body>

</html>